p{
	background-color: white; 
	color: darkblue;
}

body{
	background: url("WhatsApp Image 2022-04-12 at 12.26.04.jpeg") no-repeat center center fixed;
}

title{
	image-rendering: url("https://flyclipart.com/thumb2/hamster-clipart-pet-hamster-843544.png")
};